<div class="navBar">
  <nav>
    <!-- 1:Rsc 2:Product 3:LossReason 4:Employee 5:TrackedObject 6:TxnData-->
    <a routerLink="/viewer/1" class="navClickables">Resources</a>
    <a routerLink="/viewer/2" class="navClickables">Products</a>
    <a routerLink="/viewer/3" class="navClickables">Loss Reason</a>
    <a routerLink="/viewer/4" class="navClickables">Employees</a>
    <a routerLink="/viewer/5" class="navClickables">Tracked Objects</a>
    <a routerLink="/viewer/6" class="navClickables">Transaction Data</a>
  </nav>
  <div>
    <p>Edit Mode:</p>
    <i class="material-icons navClickables">edit</i>
  </div>
</div>
<router-outlet></router-outlet>